Repository GridOPTICS/GridPACK: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-container-definition-changed, build-gridpack:ubuntu, build-gridpack:rocky, test-gridpack:ubuntu, test-gridpack:rocky

.gitlab-ci.yml:

default:
  tags: [basic, gridpack, ikp, k8s]
  artifacts:
    when: always
    untracked: true
  image: ubuntu:22.04

stages: [check-container, build-container, build-gridpack, test-gridpack]

variables:
  MAKE_JOBS: "2"
  UBUNTU_BASE_IMAGE: "ubuntu:22.04"
  UBUNTU_ENV_IMAGE: "ubuntu-gridpack-env"
  ROCKY_BASE_IMAGE: "rockylinux:9"
  ROCKY_ENV_IMAGE: "rocky-gridpack-env"

check-container-definition-changed:
  stage: check-container
  script:
    - touch container-definition-changed
  rules:
    - if: $CI_PIPELINE_SOURCE == "push"
      changes: ["build/**/*"]

.check-container-needs-built:
  stage: check-container
  needs:
    - job: check-container-definition-changed
      optional: true
  script:
    - set -o xtrace -o errexit -o nounset -o pipefail
    - apt-get update && apt-get install -y curl jq
    - source ./build/container_lib.sh
    - check_container_needs_built "${ENV_IMAGE}"

check-container-needs-built:ubuntu:
  extends: .check-container-needs-built
  variables:
    ENV_IMAGE: ${UBUNTU_ENV_IMAGE}

check-container-needs-built:rocky:
  extends: .check-container-needs-built
  variables:
    ENV_IMAGE: ${ROCKY_ENV_IMAGE}

# https://docs.gitlab.com/ee/ci/docker/using_kaniko.html#building-an-image-with-kaniko-behind-a-proxy
.build-container:
  stage: build-container
  timeout: 5 hours
  image:
    name: gcr.io/kaniko-project/executor:v1.9.0-debug
    entrypoint: [""]
  script:
    - set -o errexit -o pipefail
    - test -f container-needs-built || test "$FORCE_CONTAINER_BUILD" = "true" || exit 0
    - >-
      /kaniko/executor
      --context build
      --build-arg "BASE_IMAGE=${BASE_IMAGE}"
      --build-arg "http_proxy=${HTTP_PROXY}"
      --build-arg "https_proxy=${HTTPS_PROXY}"
      --dockerfile build/dockerfile
      --destination "${CI_REGISTRY_IMAGE}:${ENV_IMAGE}" 2>&1 | tee build.log

build-container:ubuntu:
  extends: .build-container
  needs: [check-container-needs-built:ubuntu]
  variables:
    BASE_IMAGE: ${UBUNTU_BASE_IMAGE}
    ENV_IMAGE: ${UBUNTU_ENV_IMAGE}

build-container:rocky:
  extends: .build-container
  needs: [check-container-needs-built:rocky]
  variables:
    BASE_IMAGE: ${ROCKY_BASE_IMAGE}
    ENV_IMAGE: ${ROCKY_ENV_IMAGE}

.build-gridpack:
  stage: build-gridpack
  script:
    - /bin/bash ./build/install_gridpack.sh
  rules:
    - if: $CI_PIPELINE_SOURCE == "push"
      changes: ["build/**/*", "src/**/*", "python/**/*"]
    - if: $CI_PIPELINE_SOURCE == "web"

build-gridpack:ubuntu:
  extends: .build-gridpack
  image: ${CI_REGISTRY_IMAGE}:${UBUNTU_ENV_IMAGE}
  needs: [build-container:ubuntu]

build-gridpack:rocky:
  extends: .build-gridpack
  image: ${CI_REGISTRY_IMAGE}:${ROCKY_ENV_IMAGE}
  needs: [build-container:rocky]

.test-gridpack:
  stage: test-gridpack
  script:
    # load mpi module if on RHEL
    - source ./build/install_package_deps_lib.sh
    - load_mpi_module

    # run tests
    - ctest --test-dir src/build --output-on-failure
  artifacts:
    paths: [src/build/Testing/Temporary]
  rules:
    - if: $CI_PIPELINE_SOURCE == "push"
      changes: ["build/**/*", "src/**/*", "python/**/*"]
    - if: $CI_PIPELINE_SOURCE == "web"

test-gridpack:ubuntu:
  extends: .test-gridpack
  image: ${CI_REGISTRY_IMAGE}:${UBUNTU_ENV_IMAGE}
  needs: [build-gridpack:ubuntu]

test-gridpack:rocky:
  extends: .test-gridpack
  image: ${CI_REGISTRY_IMAGE}:${ROCKY_ENV_IMAGE}
  needs: [build-gridpack:rocky]

Updated figure comparing progress ranks and two-sided runtime performance.
  docs/markdown/images/GA_perf.png
  docs/markdown/images/Polish_CA.png
Due: none

Updated performance graph.
  docs/markdown/required/GLOBAL_ARRAYS.md
Due: none

skeleton backend code
  .gitignore
  install_gridpack.sh
  python/src/example/39bus_test_example.py
Due: build-gridpack:ubuntu, build-gridpack:rocky, test-gridpack:ubuntu, test-gridpack:rocky

Add more specific file rules for check-container-definition-changed
  .gitlab-ci.yml
Due: none

Rename build to build-system, update readme contents
  .gitlab-ci.yml
  build-system/README.md
  build-system/container_lib.sh
  build-system/dockerfile
  build-system/install_boost.sh
  build-system/install_from_source_deps.sh
  build-system/install_ga.sh
  build-system/install_gridpack.sh
  build-system/install_package_deps_lib.sh
  build-system/install_petsc.sh
  build/README.md
Due: check-container-definition-changed, build-gridpack:ubuntu, build-gridpack:rocky, test-gridpack:ubuntu, test-gridpack:rocky

Disable rockylinux jobs from automatically running for now
  .gitlab-ci.yml
Due: none

Added IEEET1 model
  src/applications/modules/emt/CMakeLists.txt
  src/applications/modules/emt/emtnetwork.cpp
  src/applications/modules/emt/model_classes/genrou.cpp
  src/applications/modules/emt/model_classes/ieeet1.cpp
  src/applications/modules/emt/model_classes/ieeet1.hpp
Due: build-gridpack:ubuntu, build-gridpack:rocky, test-gridpack:ubuntu, test-gridpack:rocky

Fix mistake in IEEET1 prestep method.
  src/applications/modules/emt/model_classes/ieeet1.cpp
Due: build-gridpack:ubuntu, build-gridpack:rocky, test-gridpack:ubuntu, test-gridpack:rocky

EMT: Added files for 9-bus system with IEEET1 model.
  src/applications/data_sets/dyr/case9_GENROU_IEEET1.dyr
  src/applications/data_sets/input/emt/input_9bus2.xml
  src/applications/data_sets/raw/case9_PSCAD2.raw
Due: build-gridpack:ubuntu, build-gridpack:rocky, test-gridpack:ubuntu, test-gridpack:rocky

Update readme
  build-system/README.md
Due: none

Added governor TGOV1 model
  src/applications/modules/emt/CMakeLists.txt
  src/applications/modules/emt/emtnetwork.cpp
  src/applications/modules/emt/model_classes/genrou.cpp
  src/applications/modules/emt/model_classes/tgov1.cpp
  src/applications/modules/emt/model_classes/tgov1.hpp
Due: build-gridpack:ubuntu, build-gridpack:rocky, test-gridpack:ubuntu, test-gridpack:rocky

Added Grid2Op backend class
  python/src/grid2op.py
  python/src/hello_backend.py
Due: build-gridpack:ubuntu, build-gridpack:rocky, test-gridpack:ubuntu, test-gridpack:rocky

Updated sexs model (explicit+implicit)
  src/applications/modules/emt/CMakeLists.txt
  src/applications/modules/emt/emtnetwork.cpp
  src/applications/modules/emt/model_classes/sexs.cpp
  src/applications/modules/emt/model_classes/sexs.hpp
Due: build-gridpack:ubuntu, build-gridpack:rocky, test-gridpack:ubuntu, test-gridpack:rocky

Added base branch model
  src/applications/modules/emt/CMakeLists.txt
  src/applications/modules/emt/base_classes/base_branch_model.cpp
  src/applications/modules/emt/base_classes/base_branch_model.hpp
  src/applications/modules/emt/emtnetwork.cpp
Due: build-gridpack:ubuntu, build-gridpack:rocky, test-gridpack:ubuntu, test-gridpack:rocky

Started adding lumped line model
  src/applications/modules/emt/CMakeLists.txt
  src/applications/modules/emt/emtnetwork.cpp
  src/applications/modules/emt/emtnetwork.hpp
  src/applications/modules/emt/model_classes/lumpedline.cpp
  src/applications/modules/emt/model_classes/lumpedline.hpp
Due: build-gridpack:ubuntu, build-gridpack:rocky, test-gridpack:ubuntu, test-gridpack:rocky

Initial checkin of analytics interface.
  src/component/base_analytics_intfc.cpp
  src/component/base_analytics_intfc.hpp
Due: build-gridpack:ubuntu, build-gridpack:rocky, test-gridpack:ubuntu, test-gridpack:rocky

Modified code to use analytics interface and made some additional corrections in build to fix problems with GLIBC libraries.
  src/CMakeLists.txt
  src/component/CMakeLists.txt
  src/component/base_component.hpp
  src/include/gridpack.hpp
  src/math/CMakeLists.txt
  src/parallel/CMakeLists.txt
Due: build-gridpack:ubuntu, build-gridpack:rocky, test-gridpack:ubuntu, test-gridpack:rocky

Added a stub for a function to return the number of storage units on a bus.
  src/component/base_analytics_intfc.cpp
  src/component/base_analytics_intfc.hpp
Due: build-gridpack:ubuntu, build-gridpack:rocky, test-gridpack:ubuntu, test-gridpack:rocky

Created fixed so that dynamic simulation is working properly for wecc test case.
  src/applications/modules/dynamic_simulation_full_y/dsf_app_module.cpp
  src/applications/modules/dynamic_simulation_full_y/dsf_app_module2.cpp
  src/applications/modules/dynamic_simulation_full_y/model_classes/classical.cpp
  src/applications/modules/dynamic_simulation_full_y/model_classes/genrou.cpp
  src/applications/modules/dynamic_simulation_full_y/model_classes/gensal.cpp
Due: build-gridpack:ubuntu, build-gridpack:rocky, test-gridpack:ubuntu, test-gridpack:rocky

Checking in dynamic simulation speedup curves.
  docs/markdown/images/WECC_DS.png
Due: none

Update documentation to include speedup curves for dynamic simulation.
  docs/markdown/required/GLOBAL_ARRAYS.md
Due: none

Fixed a header in WECC speedup figure and cleaned up some text.
  docs/markdown/images/WECC_DS.png
  docs/markdown/required/GLOBAL_ARRAYS.md
Due: none

Lumped line model works now!
  src/applications/modules/emt/base_classes/base_branch_model.hpp
  src/applications/modules/emt/emtnetwork.cpp
  src/applications/modules/emt/emtnetwork.hpp
  src/applications/modules/emt/model_classes/lumpedline.cpp
  src/applications/modules/emt/model_classes/lumpedline.hpp
Due: build-gridpack:ubuntu, build-gridpack:rocky, test-gridpack:ubuntu, test-gridpack:rocky

Add comments only
  src/network/network_topology_interface.hpp
Due: build-gridpack:ubuntu, build-gridpack:rocky, test-gridpack:ubuntu, test-gridpack:rocky

Implement network load/gen/storage query thru HADREC and Python
  python/src/gridpack.cpp
  python/src/tests/gridpack_test.py
  src/applications/modules/hadrec/hadrec_app_module.cpp
  src/applications/modules/hadrec/hadrec_app_module.hpp
  src/network/base_network.hpp
  src/network/network_topology_interface.hpp
Due: build-gridpack:ubuntu, build-gridpack:rocky, test-gridpack:ubuntu, test-gridpack:rocky

Add methods to dynamic simulation to internalize power flow initialization
  src/applications/dynamic_simulation_full_y/dsf_main2.cpp
  src/applications/modules/dynamic_simulation_full_y/dsf_app_module.cpp
  src/applications/modules/dynamic_simulation_full_y/dsf_app_module.hpp
Due: build-gridpack:ubuntu, build-gridpack:rocky, test-gridpack:ubuntu, test-gridpack:rocky

Add basic Python interface for dynamic simulation
  python/setup.py
  python/src/dsf.py
  python/src/gridpack.cpp
Due: build-gridpack:ubuntu, build-gridpack:rocky, test-gridpack:ubuntu, test-gridpack:rocky

Force variable deletion order
  python/src/dsf.py
Due: build-gridpack:ubuntu, build-gridpack:rocky, test-gridpack:ubuntu, test-gridpack:rocky

Fixed bug with parallel Jacobian.
  src/applications/modules/emt/emtnetwork.cpp
  src/applications/modules/emt/model_classes/lumpedline.cpp
Due: build-gridpack:ubuntu, build-gridpack:rocky, test-gridpack:ubuntu, test-gridpack:rocky

Make the dumpProfile() methods consistently const
  src/timer/coarse_timer.cpp
  src/timer/coarse_timer.hpp
Due: build-gridpack:ubuntu, build-gridpack:rocky, test-gridpack:ubuntu, test-gridpack:rocky

Restore configuration read timing
  src/applications/modules/dynamic_simulation_full_y/dsf_app_module.cpp
Due: build-gridpack:ubuntu, build-gridpack:rocky, test-gridpack:ubuntu, test-gridpack:rocky

Add a Python interface to CoarseTimer and use it with dsf
  python/src/dsf.py
  python/src/gridpack.cpp
  python/src/tests/gridpack_test.py
Due: build-gridpack:ubuntu, build-gridpack:rocky, test-gridpack:ubuntu, test-gridpack:rocky

Add some more DSFullApp Python interface (compiles, but untested)
  python/src/dsf.py
  python/src/gridpack.cpp
Due: build-gridpack:ubuntu, build-gridpack:rocky, test-gridpack:ubuntu, test-gridpack:rocky

Updated state varialbes and equations for sexs.
  src/applications/modules/emt/model_classes/sexs.cpp
  src/applications/modules/emt/model_classes/sexs.hpp
Due: build-gridpack:ubuntu, build-gridpack:rocky, test-gridpack:ubuntu, test-gridpack:rocky

Complete Python interface to DSFullApp, exceptusing Configuration
  python/src/gridpack.cpp
Due: build-gridpack:ubuntu, build-gridpack:rocky, test-gridpack:ubuntu, test-gridpack:rocky

Fixed a bug in initializing analytics interface and added calls to powerflow application that report on the total number of generators, loads and lines in the system.
  src/applications/powerflow/pf_main.cpp
  src/network/base_network.hpp
Due: build-gridpack:ubuntu, build-gridpack:rocky, test-gridpack:ubuntu, test-gridpack:rocky

Initial checkin of network analytics module.
  src/analysis/network_analytics.hpp
Due: build-gridpack:ubuntu, build-gridpack:rocky, test-gridpack:ubuntu, test-gridpack:rocky

Modified build and powerflow to use network analytics module.
  src/analysis/CMakeLists.txt
  src/applications/powerflow/pf_main.cpp
  src/include/gridpack.hpp
Due: build-gridpack:ubuntu, build-gridpack:rocky, test-gridpack:ubuntu, test-gridpack:rocky

Add some extra buffer for Jacobian non-zeros
  src/applications/modules/emt/emtnetwork.cpp
Due: build-gridpack:ubuntu, build-gridpack:rocky, test-gridpack:ubuntu, test-gridpack:rocky

Fixed initialization issue due to lumped line model.
  src/applications/modules/emt/base_classes/base_branch_model.hpp
  src/applications/modules/emt/emtnetwork.cpp
  src/applications/modules/emt/model_classes/lumpedline.cpp
  src/applications/modules/emt/model_classes/lumpedline.hpp
Due: build-gridpack:ubuntu, build-gridpack:rocky, test-gridpack:ubuntu, test-gridpack:rocky
